@{
    ViewBag.Title = "Main Page";
}

 //add descriptions later and add buttons


<div class="jumbotron">
    <h1>Warhammer Age of Sigmar</h1>
    <p class="lead">WARHAMMER: AGE OF SIGMAR ARMY LIST APP</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            This is my CodeLouisville C# project.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Behold a Might Army App.</h2>
        <p>This is an app to flesh out AoS armies.</p>
        
    </div>
    <div class="col-md-4">
        <h2>This is the main page of my app</h2>
        <p>Maybe you should try other pages</p>
      
    </div>
</div>